<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Improper Password</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1>Improper Password</h1>
        <p>Your password must include at least one uppercase letter, one lowercase letter, one special character, and one number, as well as being at least 8 characters in length. Username's Email must contain an '@'</p>
        <a href="/greeting">Return</a>
    </body>
</html>
